<% provide :page_title, t('blogs.index.title') %>
<% currently_at t('menu.blogs')%>

<main class="my-5">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-5">

        <strong><%= t('blogs.index.title') %></strong>

        <% if current_user.try(:admin) %>

          <%= link_to '+', new_blog_path,
                           class: 'text-decoration-none text-reset' %>
        <% end %>
      </h1>

      <div class="row">

        <%= render 'blog' %>

      </div>

        <%= paginate @blogs %>

    </div>
  </div>
</main>
