<% if work.files.attached? %>
  <div class="container">
    <div class="row">
      <hr>
      <% work.files.in_groups_of(3, false).each do |group| %>
        <div class="col-lg-6 col-md-6 mb-4">
          <% group.each do |file| %>
            <div class="mb-1">

              <% filetype file.blob.filename %>
              <%= link_to image_tag(@filetype, size: '24'), rails_blob_path(file, disposition: :attachment) %>
              <%= filename file.blob.filename %>

              <br>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>