<%# flash.each do |k, v| %>
  <%#= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
<%# end %>
<% if notice %>
  <p class="notice alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="notice alert-danger"><%= alert %></p>
<% end %>