<% provide :page_title, t('contacts.index.title') %>
<% currently_at t('menu.contacts') %>
<main class="my-5">
  <div class="container-fluid align-content-center">
    <div class="text-center">
      <h1 class="mb-5"><strong><%= t('contacts.index.title') %></strong></h1>
    </div>
  </div>
</main>