<% provide :page_title, t('contacts.index.title') %>
<% currently_at t('menu.contacts') %>

<main>
  <div class="container">
      <div class="contacts">
        <div class="row-contacts">
          <div class="col align-self-center">
            <h1><%= t('contacts.index.title') %></h1><br>
            <h4><b>Адрес: </b>216км трассы М10, д. Миронежье, стоянка «Дубрава»</h4><br>
            <h4><b>Часы работы: </b>9:00 - 20:00 ПН-СБ</h4><br>
            <h4><b>Телефон: </b>
              <%= phone_to '9201531212', '+7 (920) 153-12-12', country_code: "7", class: 'text-decoration-none text-reset' %>
              <%= phone_to '9201531212', image_tag("mobile-call.svg", size: '34'), country_code: "7", class: 'mobile-image'  %>
            </h4><br>
            <h4><b>Email: </b><%= mail_to 'kbsv69@mail.ru', 'kbsv69@mail.ru', class: 'text-decoration-none text-reset' %></h4>

          </div>
        </div>
      </div>
  </div>
  <div class="yandex">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0b68dd6f01a0e174bd8e06a5f3baee5584095b7ab084d6c9316e77d9b97ccd4e&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</main>