.field_with_errors .form-control {
    border-color: #d50000;
  }
.field_with_errors .form-control > label {
    color: #d50000;
}

.flag {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('flags.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.ru-flag {
  background-position: -1px -0px;

}
.en-flag {
  background-position: -1px -17px;
}

.nav.flag {
    position: relative;
    top: 2px;
  }


.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

