@import url('snip.css');
@import url('modal.css');
@import url('carousel.css');
@import url('dropdown.css');
@import url('menu.css');
@import url('global.css');
@import url('pagination.css');

.img_tag-style {
    border-radius: 50px;
}

.img-fluid .image-post-show {
    margin-left: -270px;
    margin-top: 40px;
}
.img-fluid .image-work-show {
    margin-left: -270px;
    margin-top: 0;
}
.modal .image {
    color: white;
    width: 250px;
    height: 250px;
    margin-left: -20px;
}