@import url('snip.css');
@import url('modal.css');
@import url('carousel.css');
@import url('dropdown.css');

.card {
    --bs-card-border-width: 0px !important;
    --bs-card-border-radius: 1rem !important;
}
.img_tag-style {
    border-radius: 50px;
}
.container .btn {
    border-radius: 20px;
    padding: 8px;
    min-width: 150px;
}