@import url('snip.css');
@font-face {
    font-family: 'HelveticaNeueL';
    src: url('HelveticaNeueL.ttf');
}
.dropdown-menu {
    --bs-dropdown-min-width: 22px !important;
}
.card {
    --bs-card-border-width: 0px !important;
    --bs-card-border-radius: 1rem !important;
}
.img_tag-style {
    border-radius: 50px;
}
.post-date {
    color: #878096 !important;

}
.body {
    font-family: 'HelveticaNeueL', Arial, sans-serif !important;
}